<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <title>Editar registro</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<body>

  <div class="header">
    <a href="/home">
      <img src="/images/logoFatec.png" alt="Logo Fatec" style="height: 40px;">
    </a>

    <div class="header-buttons">
      <a href="/painel" class="btn-header back">Adicionar novo registro</a>
      <a href="/logout" class="btn-header logout">Sair</a>
    </div>
  </div>

  <div class="sub-header">
    Faculdade de Tecnologia José Crespo Gonzales
  </div>

  <div class="add-registro-container">
    <h2>Editar Trabalho Acadêmico</h2>

    <form action="/editar/<%= registro.id_tg %>" method="POST" enctype="multipart/form-data">
      <label for="nome_trabalho">Nome do Trabalho:</label>
      <input type="text" id="nome_trabalho" name="nome_trabalho" value="<%= registro.nome_tg %>" required>

      <label>Tipo de Trabalho:</label>
      <div class="add-registro-radio-group">
        <label><input type="radio" name="tipo_trabalho" value="pi" <%=registro.tipo==='pi' ? 'checked' : '' %> required>
          Projeto Integrador</label>
        <label><input type="radio" name="tipo_trabalho" value="tg" <%=registro.tipo==='tg' ? 'checked' : '' %>>
          TG</label>
        <label><input type="radio" name="tipo_trabalho" value="ic" <%=registro.tipo==='ic' ? 'checked' : '' %>>
          Iniciação Científica</label>
      </div>

      <div class="campo-duplo">
        <div class="campo-item">
          <label for="ano_conclusao">Ano de Conclusão:</label>
          <select name="ano_conclusao" id="ano_conclusao" required>
            <% for (let ano=new Date().getFullYear(); ano>= 1980; ano--) { %>
              <option value="<%= ano %>" <%=registro.ano==ano ? 'selected' : '' %>><%= ano %>
              </option>
              <% } %>
          </select>
        </div>

        <div class="campo-item">
          <label for="semestre">Semestre:</label>
          <select name="semestre" id="semestre" required>
            <option value="1" <%=registro.semestre==1 ? 'selected' : '' %>>1</option>
            <option value="2" <%=registro.semestre==2 ? 'selected' : '' %>>2</option>
          </select>
        </div>
      </div>


      <label for="curso">Curso:</label>
      <select name="curso" id="curso" required>
        <option value="Análise e Desenvolvimento de Sistemas"
          <%=registro.curso==='Análise e Desenvolvimento de Sistemas' ? 'selected' : '' %>>Análise e Desenvolvimento de
          Sistemas</option>
        <option value="Polímeros" <%=registro.curso==='Polímeros' ? 'selected' : '' %>>Polímeros</option>
        <option value="Eletrônica Automotiva" <%=registro.curso==='Eletrônica Automotiva' ? 'selected' : '' %>
          >Eletrônica Automotiva</option>
        <option value="Fabricação Mecânica" <%=registro.curso==='Fabricação Mecânica' ? 'selected' : '' %>>Fabricação
          Mecânica</option>
        <option value="Gestão da Qualidade" <%=registro.curso==='Gestão da Qualidade' ? 'selected' : '' %>>Gestão da
          Qualidade</option>
      </select>

      <label for="orientadorInput">Orientadores:</label>
      <div class="add-registro-input-group">
        <input type="text" id="orientadorInput">
        <button type="button" class="add-registro-btn-add"
          onclick="adicionarItem('orientadorInput', 'orientadoresContainer')">+</button>
      </div>
      <div id="orientadoresContainer">
        <% registro.orientadores.forEach((orientador, index)=> { %>
          <div class="orientador-item">
            <span>
              <%= orientador %>
            </span>

            <button type="button" class="remove-item"
              onclick="removerItem('orientadoresContainer', '<%= index %>')">x</button>

          </div>
          <% }) %>
      </div>

      <label for="alunoInput">Alunos:</label>
      <div class="add-registro-input-group">
        <input type="text" id="alunoInput">
        <button type="button" class="add-registro-btn-add"
          onclick="adicionarItem('alunoInput', 'alunosContainer')">+</button>
      </div>
      <div id="alunosContainer">
        <% registro.alunos.forEach((aluno, index)=> { %>
          <div class="aluno-item">
            <span>
              <%= aluno %>
            </span>

            <button type="button" class="remove-item"
              onclick="removerItem('alunosContainer', '<%= index %>')">x</button>

          </div>
          <% }) %>
      </div>

      <label for="arquivo">Atualizar PDF (opcional):</label>
      <input type="file" id="arquivo" name="arquivo">
      <% if (registro.nome_arquivo) { %>
        <p>Arquivo atual: <strong>
            <%= registro.nome_arquivo %>
          </strong></p>
        <% } %>


          <!-- Campos ocultos para enviar arrays -->
          <div id="inputsOcultos"></div>

          <div class="add-registro-form-buttons">
            <button type="submit">Salvar</button>
            <a href="/painel" class="btn-cancelar">Cancelar</a>
          </div>

    </form>
  </div>

  <script src="/js/add_registro.js"></script>
</body>

</html>