<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Painel Administrativo</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/search.css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

  <div class="header">
    <a href="home.ejs">
      <img src="/images/logoFatec.png" alt="Logo Fatec" style="height: 40px;">
    </a>

    <div class="header-buttons">
      <a href="/add-registro" class="btn-header">Adicionar novo registro</a>
      <a href="/logout" class="btn-header logout">Sair</a>
    </div>
  </div>

  <div class="sub-header">
    Faculdade de Tecnologia José Crespo Gonzales
  </div>

  <div class="search-container" id="searchArea">
    <label for="termo">BUSCAR POR TRABALHOS DE GRADUAÇÃO QUE DESEJA GERENCIAR</label>
    
    <p class="sub-text">Pesquise por trabalhos, alunos ou orientadores</p>
    
    <form action="/buscar" method="GET" class="search-bar" id="searchForm">
      <input type="text" id="termo" name="termo" required>
      <span class="search-icon" id="searchIcon">
        <img src="/images/icon_lupa.png" alt="Ícone de Lupa" />
      </span>      
    </form>
  </div>
  

  <div class="resultados">
    <% if (resultados && resultados.length > 0) { %>
      <% resultados.forEach(registro => { %>
        <div class="card-result">
          <div class="card-header">
            <p class="titulo"><strong>PI - <%= registro.nome_tg %></strong></p>
            <span class="ano-semestre"><%= registro.ano %>-<%= registro.semestre %></span>
          </div>
        
          <div class="card-body-footer">
            <div class="card-texts">
              <p>Orientador: <%= registro.orientadores.join(', ') %></p>
              <p>Alunos: <%= registro.alunos.join(', ') %></p>
              <p>Curso: <%= registro.curso %></p>
            </div>
          
            <div class="card-buttons">
              <a href="/editar/<%= registro.id_tg %>" title="Editar">
                <img src="/images/icon_editar.png" alt="Editar" style="width: 20px; height: 20px;">
              </a>
              <form action="/excluir/<%= registro.id_tg %>" method="POST" style="display:inline;">
                <button type="submit" title="Excluir" onclick="return confirm('Tem certeza que deseja excluir este registro?');" style="background: none; border: none; padding: 0;">
                  <img src="/images/icon_excluir.png" alt="Excluir" style="width: 20px; height: 20px;">
                </button>
              </form>
            </div>
            
          </div>
          
        </div>
        
        
      <% }) %>
    <% } else { %>
      <% if (buscaRealizada) { %> 
        <p>Nenhum resultado encontrado.</p>
      <% } %>
    <% } %>
  </div>
  


  
  <script src="/js/procurar.js"></script>
</body>
</html>
